
.rs-slider.rs-slider-style2.rs-slider-style3 .container .content-part {
  background-color: #eea60aa8;
  padding: 32px;
  border-radius: 22px;
}
.rs-footer.footer-main-home .footer-top .footer-logo img {
  height: 100px;
}
.bg-color-1{
    background-color: #fff !important;
}
.bg-color-2{
  background-color: #040829 !important;
}
.bg-color-3{
  background-color: #eea73f !important;
}
.title-yellow{
  color: #eea73f !important;
}
.title-white{
  color: #fff !important;
}
.m-b-4{
  margin-bottom: 4px !important;
}
.our-vission{
  min-height: 250px;
}